@inherits UmbracoViewPage<ListingViewModel>
@using USNSiteBuilder.Core.Models
@using USNSiteBuilder.Core.Extensions
@using Umbraco.Cms.Core.Strings
@using USNSiteBuilder.Core.Interfaces
@inject ISiteBuilderService _siteBuilderService
@{
    string itemTextPosition = Model.ListSettings.Value<string>("itemTextPosition").HasValue() ? Model.ListSettings.Value<string>("itemTextPosition") : "item_text-below";
    string itemHeadingSizeClass = Model.ListSettings.Value<string>("itemHeadingSize");
    string itemSecondaryHeadingSizeClass = Model.ListSettings.Value<string>("itemSecondaryHeadingSize");
    string itemTextAlignmentClass = Model.ListSettings.Value<string>("itemTextAlignment").HasValue() ? Model.ListSettings.Value<string>("itemTextAlignment") : "text-left";
    string overlayImageClass = itemTextPosition == "item_text-boxed item_overlay" ? Model.ListSettings.Value<SiteBuilderSelectedColor>("overlayBackgroundColor").label + "-bg" : String.Empty;
    ImageSettings imageSettings = _siteBuilderService.GetImageSettings(Model.ListSettings.Value<string>("listingImageStyle"));
    string listSpacingClass = Model.ListSettings.Value<bool>("removeItemSpacing") ? "listing_no-spacing" : String.Empty;
    bool hideImage = Model.ListSettings.Value<bool>("hideImage");
    string verticalAlignmentClass = itemTextPosition == "item_text-boxed item_overlay" ? (Model.ListSettings.HasValue("overlayTextPosition") ? Model.ListSettings.Value<string>("overlayTextPosition") : "align-self-center") : String.Empty;

    string backgroundColorLabel = itemTextPosition == "item_text-boxed item_overlay" ? Model.ListSettings.Value<SiteBuilderSelectedColor>("overlayBackgroundColor").label : "base";
    backgroundColorLabel = itemTextPosition != "item_text-boxed item_overlay" && Model.ListSettings.Value<bool>("addBackgroundColor") ? Model.ListSettings.Value<SiteBuilderSelectedColor>("itemBackgroundColor").label : backgroundColorLabel;
    string itemBackgroundClass = itemTextPosition != "item_text-boxed item_overlay" && Model.ListSettings.Value<bool>("addBackgroundColor") ? "item_has-bg" : String.Empty;
    string innerBackgroundClass = itemTextPosition != "item_text-boxed item_overlay" && Model.ListSettings.Value<bool>("addBackgroundColor") ? _siteBuilderService.GetBackgroundColorClass(Model.ListSettings.Value<SiteBuilderSelectedColor>("itemBackgroundColor").sortOrder, "content", Model.WebsiteStyle) : String.Empty;

    var websiteStyle = (Usnstyle)Model.WebsiteStyle;

    string itemsPerRowValue = String.Empty;

    if (itemTextPosition == "item_text-below" || itemTextPosition == "item_text-above" || itemTextPosition == "item_text-boxed item_overlay")
    {
        itemsPerRowValue = Model.ListSettings.Value<string>("itemsPerRow8");
    }
    else if (itemTextPosition == "item_text-left" || itemTextPosition == "item_text-right")
    {
        itemsPerRowValue = Model.ListSettings.Value<string>("itemsPerRow4");
    }
    else
    {
        itemsPerRowValue = Model.ListSettings.Value<string>("itemsPerRow8");
    }

    string itemsPerRowClass = itemsPerRowValue.HasValue() ? itemsPerRowValue : "items-1";



        @if (Model.CurrentPagePosition == 1 && Model.CurrentListingPage.HasValue("listingIntroduction"))
        {
            //Only display introduction on first page
            <div class="row component-introduction">
                <div class="info col">
                    <div class="text">
                        @(Model.CurrentListingPage.Value<IHtmlEncodedString>("listingIntroduction"))
                    </div>
                </div>
            </div>
        }

        @if (Model.FilteredPages.Pages.Any())
        {
            <div class="row component-main listing listing_basic-grid @listSpacingClass">
                @foreach (var item in Model.FilteredPages.Pages.Take(Model.ItemsPerPage))
                {
                    string pageName = item.HasValue("pageListingHeading") ? item.Value<string>("pageListingHeading") : item.Name;

                    <div class="item item-blog @itemBackgroundClass @itemsPerRowClass col-12 @itemTextPosition @itemTextAlignmentClass">
                        <div class="inner @innerBackgroundClass @imageSettings.CircleClass">
                            <a href="@item.Url()">
                                @if (!hideImage && item.Value<IPublishedContent>("pageListingImage") != null && itemTextPosition != "item_text-above")
                                {
                                    <div class="image @overlayImageClass @imageSettings.CircleClass">
                                        @await Html.PartialAsync(Model.ThemeFolder + "/MiscPageElements/Image", item.Value<IPublishedContent>("pageListingImage"), new ViewDataDictionary(ViewData) { { "imageSettings", imageSettings } })
                                    </div>
                                }
                                <div class="info @verticalAlignmentClass">

                                    @if (item.HasValue("pageListingSecondaryHeading") && websiteStyle.StyleLayout.headingOrder != "heading-first")
                                    {
                                        <p class="secondary-heading @itemSecondaryHeadingSizeClass @(backgroundColorLabel)-secondary-heading">@Html.Raw(item.Value<string>("pageListingSecondaryHeading"))</p>
                                    }

                                    <p class="heading @itemHeadingSizeClass @(backgroundColorLabel)-heading">@Html.Raw(pageName)</p>

                                    @if (item.HasValue("pageListingSecondaryHeading") && websiteStyle.StyleLayout.headingOrder == "heading-first")
                                    {
                                        <p class="secondary-heading @itemSecondaryHeadingSizeClass @(backgroundColorLabel)-secondary-heading">@Html.Raw(item.Value<string>("pageListingSecondaryHeading"))</p>
                                    }

                                    @if (item.HasValue("pageSummary"))
                                    {
                                        <div class="text @(backgroundColorLabel)-text">@(item.Value<IHtmlEncodedString>("pageSummary"))</div>
                                    }

                                    @if (itemTextPosition == "item_text-boxed item_overlay")
                                    {
                                        <!-- Meta -->
                                        <div class="meta @(backgroundColorLabel)-text">
                                            <p class="date"><time>@(item.Value<DateTime>("postDate").ToString("dd MMM yyyy"))</time></p>
                                        </div>
                                        <!--// Meta -->
                                    }

                                </div>
                                @if (item.Value<IPublishedContent>("pageListingImage") != null && itemTextPosition == "item_text-above")
                                {
                                    <div class="image @overlayImageClass @imageSettings.CircleClass">
                                        @await Html.PartialAsync(Model.ThemeFolder + "/MiscPageElements/Image", item.Value<IPublishedContent>("pageListingImage"), new ViewDataDictionary(ViewData) { { "imageSettings", imageSettings } })
                                    </div>
                                }
                            </a>
                            @if (itemTextPosition != "item_text-boxed item_overlay")
                            {
                                <!-- Meta -->
                                <div class="meta @(backgroundColorLabel)-text">
                                    @await Html.PartialAsync(Model.ThemeFolder + "/Listing/ListingCategories", item)
                                </div>
                                <!--// Meta -->
                            }
                        </div>
                    </div>
                }
            </div>

            if (Model.FilteredPages.TotalPageCount > 1)
            {
                <!-- PAGINATION -->
                    @await Html.PartialAsync(Model.ThemeFolder + "/MiscPageElements/Paging", Model.CurrentListingPage, new ViewDataDictionary(ViewData) { { "totalPageCount", Model.FilteredPages.TotalPageCount }, { "pageNumber", Model.CurrentPagePosition }, { "path", Model.Path }, { "query", Model.Query } })
                <!--// PAGINATION -->
            }

        }
        else
        {
            <p>@Umbraco.GetDictionaryValue("USN Listing Nothing Found")</p>
        }
}